@import '../../scss/theme.scss';

.showcase{
    background-color: $deep-soft-gray;
}

.showcase-contain{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 120px;

    &_desc{
        span{
            font-size: 0.625rem;
            font-weight: 600;
            color: $gray;
        }
        h1::first-line{
            color: $gray;
        }
        h1{
            font-size: 1.75rem;
            font-weight: 400;
            color: $sweet-red;
            line-height: 2.25rem;
            padding-top: 10px;
        }
        p{
            font-size: 0.875rem;
            font-weight: 400;
            color: $soft-gray;
            line-height: 1.5rem;
            padding-top: 10px;
        }
    }
}